<h1 mat-dialog-title>Create Setting Group</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label></mat-label>
    <input matInput placeholder="Enter setting group ID" [(ngModel)]="data.settingGroupId">
  </mat-form-field>
  <mat-form-field>
    <mat-label></mat-label>
    <textarea matInput placeholder="Enter input" [(ngModel)]="data.input" rows="5"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCloseClick()">Close</button>
  <button mat-button color="primary" (click)="onSaveClick()">Save</button>
</div>
