<!-- <ng-container *ngIf="settingGroups.length > 0">
    <table mat-table [dataSource]="settingGroups">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let settingGroup; columns: columnsToDisplay"></tr>
    </table>
</ng-container> -->

<button mat-raised-button color="primary" (click)="openDialog()">Create Setting Group</button>

<ng-container *ngIf="settingGroups.length > 0">
    <table mat-table [dataSource]="settingGroups">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let settingGroup" class="mat-row-button" (click)="onRowClick(settingGroup)"> {{ settingGroup.id }} </td>
      </ng-container>
      <ng-container matColumnDef="CreatedBy">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let settingGroup" class="mat-row-button" (click)="onRowClick(settingGroup)"> {{ settingGroup.createdBy }} </td>
      </ng-container>
      <ng-container matColumnDef="LastUpdatedAt">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let settingGroup" class="mat-row-button" (click)="onRowClick(settingGroup)"> {{ settingGroup.lastUpdatedAt }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</ng-container>
  