
<nav class="vertical-nav">
  <div class="nav-title">App<br>Settings<br>Manager</div>
  <ul>
    <li class="nav-create">
      <button mat-raised-button color="grey" class="createsg" (click)="onUpdateSetting()"><span style="color: white;">Update Setting Group</span></button>
    </li>
    <li class="nav-create">
      <button mat-raised-button color="grey" class="createsg" (click)="onDeleteSettingGroup()"><span style="color: white;">Delete Setting Group</span></button>
    </li>

    <li>
      <button mat-raised-button color="grey" class="createsg" (click)="onClickPermissions()"><span style="color: white;">Manage Permissions</span></button>
    </li>
    <li class="nav-new-version">
      <label for="newTargetVersion">New Target Version:</label>
      <input id="newTargetVersion" type="number" [(ngModel)]="newTargetVersion">
      <button mat-raised-button color="primary" (click)="onUpdateTargetSetting()">Update Target Setting</button>
      <button mat-raised-button color="purple" (click)="onClickBack()"><span style="color: black;">Back</span></button>
    </li>
    <li class="nav-logout">
      <app-logout-button></app-logout-button>
    </li>
  </ul>
</nav>



<ng-container *ngIf="settings.length > 0">
    <table mat-table [dataSource]="settings">
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let setting" class="mat-row"> {{ setting.settingGroupId }} </td>
      </ng-container>
      <ng-container matColumnDef="Version">
        <th mat-header-cell *matHeaderCellDef> Version </th>
        <td mat-cell *matCellDef="let setting" class="mat-row"> {{ setting.version }} </td>
      </ng-container>
      <ng-container matColumnDef="Input">
        <th mat-header-cell *matHeaderCellDef> Input </th>
        <td mat-cell *matCellDef="let setting" class="mat-row"> {{ setting.input | json }} </td>
      </ng-container>
      <ng-container matColumnDef="IsCurrent">
        <th mat-header-cell *matHeaderCellDef> Is Current </th>
        <td mat-cell *matCellDef="let setting" class="mat-row"> {{ setting.isCurrent }} </td>
      </ng-container>
      <ng-container matColumnDef="CreatedBy">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let setting" class="mat-row"> {{ setting.createdBy }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</ng-container>
