<ng-container *ngIf="permissions.length > 0">
    <table mat-table [dataSource]="permissions">
      <ng-container matColumnDef="UserId">
        <th mat-header-cell *matHeaderCellDef> UserId </th>
        <td mat-cell *matCellDef="let permission" class="mat-row"> {{ permission.userId }} </td>
      </ng-container>
      <ng-container matColumnDef="CurrentPermissionLevel">
        <th mat-header-cell *matHeaderCellDef> Current Permission </th>
        <td mat-cell *matCellDef="let permission" class="mat-row"> {{ permission.currentPermissionLevel }} </td>
      </ng-container>
      <ng-container matColumnDef="RequestedPermissionLevel">
        <th mat-header-cell *matHeaderCellDef> Requested Permission </th>
        <td mat-cell *matCellDef="let permission" class="mat-row"> {{ permission.requestedPermissionLevel }} </td>
      </ng-container>
      <ng-container matColumnDef="WaitingForApproval">
        <th mat-header-cell *matHeaderCellDef> Needs Approval </th>
        <td mat-cell *matCellDef="let permission" class="mat-row"> {{ permission.waitingForApproval }} </td>
      </ng-container>
      <ng-container matColumnDef="ApprovedBy">
        <th mat-header-cell *matHeaderCellDef> Approved By </th>
        <td mat-cell *matCellDef="let permission" class="mat-row"> {{ permission.approvedBy }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
</ng-container>

<button mat-raised-button color="primary" (click)="onClickBack()">Back</button>

<label for="responseUserId">Respond To Access Request:</label>
<input id="responseUserId" type="text" [(ngModel)]="responseUserId">

<button mat-raised-button color="primary" (click)="onClickApprove()">Approve</button>
<button mat-raised-button color="primary" (click)="onClickDeny()">Deny</button>
