<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="usernameLogin" placeholder="Enter username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="passwordLogin" type="password" placeholder="Password">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>

<div class="signUp-container">
  <h2>Sign Up</h2>
  <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username" placeholder="Enter username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" type="password" placeholder="Password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign Up</button>
  </form>
</div>
