button {
    background-color: transparent;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif;
    border: none;
    font-size: 20px;
  }
  :hover {
    color: #7572ff;
    cursor: pointer;
  }